*[data-visible="false"]{
  display: none;
}

body {
    padding: 50px 0 0 0;
    font: 16px 'metricweb', "Lucida Grande", Helvetica, Arial, sans-serif;
    background: #333;
    color: white;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
}

a {
  color: #00B7FF;
}

header{
  background: #FFF1E0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  background-image: url('https://www.ft.com/__origami/service/image/v2/images/raw/fticon%3Abrand-ft-masthead?url=fticon%253Abrand-ft-masthead&source=ftlabs-connected-ft&fit=cover&format=auto&quality=medium');
  background-size: auto 30%;
  background-repeat: no-repeat;
  background-position: 50%;
  z-index: 50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dacbb8;
}

.stream{
  width: 100%;
  padding: 1em;
  height: auto;
  box-sizing: border-box;
}

.stream .streamitem{
  color: black;
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
  border-bottom: 1px solid grey;
  padding-bottom: 1em;
  overflow: hidden;
  transition: 0.5s ease-in-out max-height;
  max-height: 100vh;
}

.stream .streamitem[data-collapsed="true"]{
  max-height: 0;
}

.stream .streamitem .timeReceived{
  color: white;
  margin: 1em 1em 0 0;
}

.stream .streamitem .content{
  padding: 1.3em 1em;
  color: black;
  display: flex;
  flex-direction: column;
  background-color: #fff1e0;
  border: 3px solid #9e2f50;
  border-width: 8px 0;
  box-shadow: 0 3px 8px black;
}

.stream .streamitem .content strong{
  font-weight: 600;
  font-family: 'financierdisplayweb';
  font-size: 1.3em;
  margin-bottom: 0.5em;
  color: #333;
}

.stream .streamitem .content span{
  color: #333;
  margin-bottom: 1em;
}

.stream .streamitem .content img{
  width: 100%;
  margin-bottom: 20px;
}

.stream .streamitem .content a{
  color: #26747a;
  font-size: 1.2em;
  text-decoration: none;
}
