*[data-visible="false"]{
  display: none !important;
}

html,body{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  padding: 50px 1em 0;
  font: 16px 'metricweb', "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #333;
  color: white;
  margin: 0;
  line-height: 1.3em;
  box-sizing: border-box;
}

a {
  color: #00B7FF;
}

header{
  background: #FFF1E0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  background-image: url('https://www.ft.com/__origami/service/image/v2/images/raw/fticon%3Abrand-ft-masthead?url=fticon%253Abrand-ft-masthead&source=ftlabs-connected-ft&fit=cover&format=auto&quality=medium');
  background-size: auto 30%;
  background-repeat: no-repeat;
  background-position: 50%;
  z-index: 50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dacbb8;
}

hr{
  border: 0px solid transparent;
    height: 1px;
    background: #999;
}

h1, h2, h3, h4, h5, h6{
  font-weight: 600;
}

form{
  padding: 0 1.5em 1em;
  max-width: 450px;
}

form label{
  font-size: 1.17em;
  font-weight: 600;
  margin-bottom: 0.5em;
  display: block;
}

form h3{
  margin-bottom: 0.5em;
}

form p{
  color: #b0b0b0;
  margin-top: 0;
  line-height: 1.3em;
}

form p strong{
  color: white;
}

form input[type="text"], form select{
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
  background: #1f1f1f;
  border: 0px solid transparent;
  font-size: 1em;
  color: white;
  font-weight: 600;
  margin-bottom: 1em;
}

form select{
  height: 50px;
  border-radius: 0;
}

section.constraint{
  max-width: 400px;
}

a.o-buttons {
  width : 100%;
}

#secretUnsub{
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background: rgba(0,0,0,0);
  z-index: 50000;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.component#menu{
  margin-right: 1em;
  margin-left: auto;
  width: 20px;
  height: 20px;
  background: url('https://www.ft.com/__origami/service/image/v2/images/raw/fticon%3Ahamburger?url=fticon%253Ahamburger&source=ftlabs-connected&tint=%23505050&fit=cover&format=auto&quality=lowest');
  background-size: 100%;
  background-repeat: no-repeat;
}

.component#drawer{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  background: #fff1e0;
  box-shadow: 0 0 20px black;
  padding: 50px 0 0;
  max-height: 50%;
  overflow-y: scroll;
  transition: transform 0.3s ease-in-out;
  transform: translateY(-100%);
}

.component#drawer[data-opened="true"]{
  transform: translateY(0%);
}

.component#drawer .title{
  background: #e9decf;
  text-align: center;
  padding: 0.3em 0.2em;
  color: #333;
  font-weight: 600;
}

.component#drawer ol{
  color: #333;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.component#drawer ol li{
  font-size: 18px;
  padding: 0.5em 1em;
  border-bottom: 1px solid #dacbb8;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.component#drawer ol li a{
  color: #333;
}

.component#drawer ol li span{
  color: #333;
  font-weight: 400;
  font-size: 0.8em;
  border: 1px solid #333;
  border-radius: 3px;
  padding: 0 0.5em;
  display: flex;
  align-items: center;
  min-width: 56px;
  min-height: 20px;
  justify-content: center;
}

.o-loading--small.o-loading--smaller{
  width: 0.5em;
  height: 0.5em;
}

.view{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 450px;
  text-align: left;
}

.subscribeBtn{
  margin-top: 1em;
  font-size: 1em;
  color: white;
  background: #26747a;
  border-radius: 0;
  padding: 0.8em 1em;
  border: 0px solid transparent;
  width: 100%;
  font-weight: 600;
}

.stream{
  width: 100%;
  padding-top: 1em;
  height: auto;
  box-sizing: border-box;
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.stream .streamitem{
  color: black;
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
  border-bottom: 1px solid grey;
  padding-bottom: 1em;
  overflow: hidden;
  transition: 0.3s ease-in-out max-height;
  max-height: 1000vh;
  max-width: 700px;
}

.stream .streamitem[data-collapsed="true"]{
  max-height: 0;
  padding: 0;
  border: 0;
}

.stream .streamitem .timeReceived{
  color: white;
  margin: 1em 1em 0 0;
}

.stream .streamitem .content{
  padding: 1.3em 1em;
  color: black;
  display: flex;
  flex-direction: column;
  background-color: #fff1e0;
  border: 3px solid #9e2f50;
  border-width: 8px 0;
  box-shadow: 0 3px 8px black;
}

.stream .streamitem .content strong{
  font-weight: 600;
  font-family: 'financierdisplayweb';
  font-size: 1.3em;
  margin-bottom: 0.5em;
  color: #333;
}

.stream .streamitem .content span{
  color: #333;
  margin-bottom: 1em;
}

.stream .streamitem .content img{
  width: 100%;
  margin-bottom: 20px;
}

.stream .streamitem .content a{
  font-size: 1.2em;
  text-decoration: none;
  text-align: center;
  background-color: #26747a;
  color: white;
  padding: 0.5em 1em;
  max-width: 300px;
  align-self: center;
}

#overlay{
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.85);
  width: 100%;
  height: 100%;
  z-index: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
  box-sizing: border-box;
}

#overlay #message{
  max-width: 400px;
}

#overlay button{
  color: white;
  border: 1px solid white;
  font-size: 1em;
  font-weight: 100;
  background: transparent;
  border-radius: 5px;
  padding: 0.5em 1em 0.5em;
  width: 100%;
}

#loading{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}
